In [7]:
## Heatmap
### Number of sales by Zip, layering in demographic information

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps
import json
import csv
import os

# Import API key
from api_keys import g_key

In [16]:
# Source data location
housingFile = 'source_data/housing_data_cleaned.csv'

# Read in source
housingDF = pd.read_csv(housingFile, low_memory=False)
housingDF.head()

,basements,building_code_description,category_code_description,census_tract,central_air,depth,exempt_building,exempt_land,exterior_condition,fireplaces,...,topography,total_area,total_livable_area,type_heater,unit,view_type,year_built,year_built_estimate,zip_code,zoning
0,D,ROW 3 STY MASONRY,Single Family,241.0,N,67.0,49200,0,4.0,0.0,...,F,938.00,1344.0,A,NaN,I,1895,Y,19144.0,RSA5
1,NaN,RES CONDO 3 STY MAS+OTH,Single Family,337.0,Y,0.0,45000,0,4.0,0.0,...,NaN,0.00,947.0,NaN,B307,I,1970,Y,19152.0,RM2
2,NaN,ROW 2 STY MASONRY,Single Family,201.0,NaN,70.0,0,0,4.0,0.0,...,F,1044.00,1190.0,NaN,NaN,I,1940,Y,19140.0,RM1
3,H,ROW B/GAR 2 STY MASONRY,Single Family,281.0,N,95.5,0,0,4.0,0.0,...,F,1686.53,1633.0,B,NaN,I,1940,Y,19141.0,RSA3
4,NaN,ROW 2 STY MASONRY,Single Family,293.0,NaN,112.5,0,0,4.0,0.0,...,F,2165.62,1320.0,B,NaN,I,1940,Y,19124.0,RSA5

In [18]:
# Bring in demographics dataframe
demographicsFile = 'source_data/philly_demographics.csv'

# Read in demographics df
demographicsDF = pd.read_csv(demographicsFile)
demographicsDF.head()

,City,Zip,NABE,Lat,Long,MEDINC,P_WHITE,P_BLACK,P_HISP,P_ASIAN,P_OTHERS,P_Other
0,Philadelphia,19102,Center City,39.948498,-75.16683,90750,73%,4%,5%,16%,1%,27%
1,Philadelphia,19103,Center City West,39.953663,-75.17399,73611,72%,6%,6%,12%,4%,28%
2,Philadelphia,19103,Center City West,39.953860,-75.16713,73611,72%,6%,6%,12%,4%,28%
3,Philadelphia,19104,"University City, Mantua, Powelton",39.956417,-75.20855,25865,35%,42%,5%,14%,4%,65%
4,Philadelphia,19106,"Old City, Society Hill",39.949120,-75.14397,109393,77%,8%,6%,6%,2%,23%

In [ ]:
# Merge dataframes by column (zip)

In [ ]:
# Create heat map, showing number of sales

In [ ]:
# Add demographic information to heat map